.header__lang-link-en {
    font-size: 24px;
    line-height: 111%;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}

@media (min-width: 320px) and (max-width:767px){
    .header__lang-link-en {
        font-size: 18px;
    }
}