.place__website-link {
    font-family: 'Inter', "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-decoration-line: underline;
    z-index: 2000000;
    color: #FFFFFF;
    width: fit-content;
    transition: .35s ease-in-out;
}

.place__website-link:hover {
    opacity: 0.3;
    transition: .35s ease-in-out;
}