.intro {
    margin: auto;
    margin-top: 92px;
    margin-bottom: 92px;
    max-width: 984px;
}

@media (min-width: 768px) and (max-width:1023px) {
    .intro {
        margin-top: 88px;
        margin-bottom: 88px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .intro {
        margin-top: 64px;
        margin-bottom: 64px;
    }
}