.header__lang-links {
    margin: 0%;
    list-style-type: none;
    display: flex;
    gap: 18px;
    padding: 0%;
    height: fit-content;
    align-self: end;
}

@media (min-width: 320px) and (max-width:767px) {
    .header__lang-link {
        justify-items: flex-end;
    }
}